@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /*background-color: bisque; */
}

.wrapper {
    width: 100%;
}

/* ============= header ============== */
header {
    position: relative;
    width: 100%;
    height: 94px;
    background-color: black;
}
.menu-logo-flexbox {
    display: flex;
    /* justify-content: space-between */
}
/* left-menu */
.left-menu,
.right-menu {
    width: 500px;
    padding-top:39px;
}
.left-menu li {
    float: left;
}
.left-menu li > a {
    color: white;
    font-size: 14px;
}
.left-menu li:first-child > a,
.left-menu li:nth-child(2) > a {
    padding-right:45px;
}

.logo {
    width: 180px;
    margin-top: 33px;
}
.logo h1 > a {
    color: white;
    font-size: 26px;
    text-align: center;
}

/* right-menu */
.right-menu ul {
    display: flex;
    justify-content: right;
}

.right-menu li > a {
    color:white;
    font-size: 14px;
    padding-left: 45px;
}

/* ========== main ============ */
.main-img {
    background-color: black;
}
.main-img img {
    width: 100%;
}
.main-img .main-text {
    position: absolute;
    left: 442px;
    top: 278px;
    color: white;
}

.main-text p {
    float: left;
    font-size: 24px;
    padding-bottom: 33px;
}

.main-text h2 {
    font-size: 36px;
    padding-bottom: 60px;
}

.main-text a {
    width: 120px; height: 35px;
    font-size: 14px;
    line-height: 35px;
    background-color: white;
    color: black;
    border-radius: 15px 15px;
    text-align: center;
}


.slide-box {
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.slide-box > a {
    display: inline-block;
    width:10px; height: 10px;
    border-radius: 50%;
    margin-right: 30px;
    background-color: white;
    border: 1px solid rgb(131, 131, 131);
}

.slide-box a:first-child {
    background-color: grey;
} 



/* ============ about ================ */
.about {
    width: 100%;
    height: 770px;
}
.half-back {
    width: 100%;
    background-color: rgb(231, 230, 230);
    height: 360px;
}
.about h3 {
    position: absolute;
    font-size: 30px;
    margin-left: 480px;
    margin-top: 160px;
}
.arrow {
    position: absolute;
    right: 10px; top: 196px;
}
.arrow a {
    font-size: 14px;
}

/* left-pic */
.left-pic {
    width: 33%;
}

.left-pic img {
    margin-top: 160px;
    width: 400px; height: 586px;
}

.left-pic .left-cont {
    position: absolute;
    top: 640px;
    color: white;
    font-size: 30px;
    line-height: 30px;
    padding: 0 0 44px 25px;
}

/* right-box */
.right-box {
    display: flex;
    width: 59%; height: 520px;
}

.right-box img {
    width: 477px;
    height: 520px;
    border: 3px solid rgb(163, 163, 163);
}

.right-pic1 {
    position: absolute;
    right:10px; top: 226px;
}
.right-pic2 {
    position: absolute;
    right: 120px; top: 226px;
}
.right-pic3 {
    position: absolute;
    left: 480px; top: 226px;
}

.vertical { /* 글자 회전  */
    position: absolute;
    transform: rotateZ(90deg);
    right:-20px; top:100px;
    font-size: 30px;
    color: white;
}

h4 {
    position: absolute;
    left: 20px; bottom: 100px;
}

.right-cont {
    position: absolute;
    left: 20px; bottom: 44px;
    color: white;
    font-size: 18px;
}




/* service */
.service {
    width: 100%; height: 576px;
}

h5 {
    padding-top: 112px;
    padding-left: 522px;
}

.service-box {
    display: flex;
    justify-content: space-around;

}

.service-box div {
    width: 28.22%;
}

.service-box div > img {
    width: 333px; height: 333px;
    filter: drop-shadow(6px 60px 20px rgb(114, 114, 114));
}
.service1 {
    position: relative;
}
.service-cont > p {
    position: absolute;
    top: 50%; left: 55%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

.banner {
    width:100%; height: 380px;
}
